# App
PYTHONPATH=/

# MySQL (Docker Compose用)
MYSQL_HOST=db
MYSQL_PORT=3306
MYSQL_DATABASE=helpdesk
MYSQL_ROOT_PASSWORD=password
MYSQL_USER=user
MYSQL_PASSWORD=pass

# CORS
FRONT_END_URL=http://localhost:5173
